{{ attach_library('taxi/taxi.page') }}
<div class="taxi-page_intro">
  <p>Bahrain International Airport is served 24/7 by three taxi operators queuing at the multi-story car park to serve the passengers. The taxi operators include Bahrain International Airport’s local Bahrain Taxi Group, Speedy Motors and Arabian Taxi.</p>
  <p>To reach the Taxi Stop, passengers can follow the directional signs whilst leaving the Baggage Reclaim area to proceed to Car Park B (Multi-story Car Park), located close to the Passenger Terminal Building opposite of Gate B.</p>
  <p>The provided taxis at Bahrain International Airport are meter based where the rates are as per Bahrain’s Ministry of Transportation and Telecommunications, where an initial BHD 2 will be charged, and an additional BHD 2 for pickup services.</p>
  <p>To submit your complaint, kindly contact us through the following:</p>
  <ul>
    <li>Email: <a href="mailto:enforcement.LT@mtt.bh">enforcement.LT@mtt.bh</a></li>
    <li>Telephone: +973 17337801 / +973 17337856</li>
  </ul>
  <p>You can also raise a complaint through Bahrain’s National Suggestions &amp; Complaint Systems (Tawasul) using the following link: <a href="https://services.bahrain.bh/wps/portal/tawasul">https://services.bahrain.bh/wps/portal/tawasul</a></p>
  <p>&nbsp;</p>
</div>
{{ form }}
